[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-google-genai = "*"
google-generativeai = "*"
lxml = "*"
pandas = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
